@page
@model FoodDelivery.Pages.Final.OrderModel
@{
    ViewData["Title"] = "Order";
}

<h4>@ViewData["Title"]</h4>

<hr/>
<div class="row">
    <div clas="col-md-6">
        @if (Model.Restaurator.Logo != null)
        {
            <img id="logo" style="width:120px;height:120px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.Restaurator.Logo))">
        }
        else
        {
            <img id="logo" style="width:120px;height:120px; object-fit:cover" src="/assets/images/default-logo.png">
        }
    </div>
    <div class="col-md-6">
        <h5>@Model.Restaurator.Name</h5>
        <p><strong>@Model.Category</strong></p>
        <p>
            @Model.Restaurator.Address<br/>
            @Model.Restaurator.PostalCode&nbsp;@Model.Restaurator.City
        </p>
    </div>
</div>

<partial name="_StatusMessage" model="Model.StatusMessage" />
<hr/>

<form method="post">
@foreach (var product in Model.Products)
{
    <div class="row">
        <div class="col-md-6">
            <p>
                <h6>@product.Name</h6>
                <strong>Price: </strong>@product.Price<br/>
                <strong>Discount: </strong>@product.Discount
            </p>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="prod_@product.Id">Quantity</label>
                <input type="number" name="prod_@product.Id" id="prod_@product.Id" class="form-control"/>
            </div>
        </div>
    </div>
    <hr/>
}

<div class="form-group">
    <label asp-for="Input.DeliveryAddress"></label>
    <select asp-for="Input.DeliveryAddress" asp-items="Model.DeliveryAddresses" class="form-control"></select>
    <span asp-validation-for="Input.DeliveryAddress"></span>
</div>

<input type="submit" class="btn btn-primary" value="Place Order" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
